
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}
<!-- Bunlar Lazım -->
<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Ana Sayfa</a>
                <a class="breadcrumb-item text-dark" href="#">Ürünler</a>
                <span class="breadcrumb-item active">Ürün Listesi</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Bunlar Lazım -->
<!-- Shop Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <!-- Shop Sidebar Start -->
        <div class="col-lg-3 col-md-4">
            <!-- Price Start -->
            <!-- Buraya Component Uygulandı -->
            @await Component.InvokeAsync("_ProductListPriceFilterComponent")
            <!-- Price End -->
            <!-- Color Start -->
            <!-- Buraya Component Uygulandı -->
            @await Component.InvokeAsync("_ProductListColorFilterComponent")
            <!-- Size Start -->
            <!-- Buraya Component Uygulandı -->
            @await Component.InvokeAsync("_ProductListSizeFilterComponent")
            <!-- Size End -->
        </div>
        <!-- Shop Sidebar End -->
        <!-- Shop Product Start -->
        <div class="col-lg-9 col-md-8">
            <div class="row pb-3">
                <!-- Buraya Component Uygulandı -->
                @await Component.InvokeAsync("_ProductListProductSortingComponent")
                <!-- Buraya Component Uygulandı -->
                @await Component.InvokeAsync("_ProductListComponent")
                <!-- Buraya Component Uygulandı -->
                @await Component.InvokeAsync("_ProductListNextPageComponent")
            </div>
        </div>
        <!-- Shop Product End -->
    </div>
</div>
<!-- Shop End -->