<div class="container-fluid pt-5 pb-3">
    <div class="row px-xl-5">
        <div class="col-md-6">
            <div class="product-offer mb-30" style="height: 300px;">
                <img class="img-fluid" src="https://witcdn.medusahome.com.tr/bonje-yatak-odasi-modern-yatak-odasi-183136-27-B.jpg" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">%15 İndirim</h6>
                    <h3 class="text-white mb-3">Yatak Odası İndirimi</h3>
                    <a href="" class="btn btn-primary">Hemen Bakın</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-offer mb-30" style="height: 300px;">
                <img class="img-fluid" src="https://media3.bosch-home.com/Images/600x/23282762_food_prep_desktop_stage_banner_yeni_mobil.png" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">%30 İndirim</h6>
                    <h3 class="text-white mb-3">Ev Eşyaları Seti</h3>
                    <a href="" class="btn btn-primary">Hemen Katıl Kuponu Kap</a>
                </div>
            </div>
        </div>
    </div>
</div>